# ─── Server ───────────────────────────────────────────
NODE_ENV=development
PORT=3000

# ─── Database Docker ────────────────────────────────────────
DB_HOST=db
DB_PORT=# DB_PORT=your-port
DB_USER=devuser
DB_PASSWORD=your-password
DB_NAME=db_training

# ─── Database Railway ────────────────────────────────────────
# DB_HOST=your-host
# DB_PORT=your-port
# DB_USER=root
# DB_PASSWORD=your-password
# DB_NAME=railway

# ─── JWT ─────────────────────────────────────────────
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h
